{% extends base_template %}
{% load i18n %}

{% block content %}
    <div id="whois">
        {% block webwhois_main %}

            {% block webwhois_header %}
                <h1>{% trans "Search in the Registry (Whois)" %}</h1>
                <p>
                    {% trans "Search results for handle" %} <strong class="text-primary">{{ handle }}</strong>:
                </p>
            {% endblock webwhois_header %}

            {% block webwhois_content %}{% endblock webwhois_content %}

            {% block webwhois_footer %}
                <a class="btn btn-primary mt-5" href="{% url "webwhois:form_whois" %}">
                    {% trans "New search in the registry" %}
                </a>
            {% endblock webwhois_footer %}

        {% endblock webwhois_main %}
    </div>
{% endblock content %}
