{% extends "webwhois/form_public_request.html" %}
{% load i18n %}

{% block webwhois_header %}
    <h1>{% trans "Request for personal data" %}</h1>
{% endblock webwhois_header %}

{% block webwhois_content %}
    <div id="public_request_forms">
        <form action="{% url "webwhois:form_personal_info" %}" method="post" class="webwhois-public-request">
            {% csrf_token %}

            {% include "webwhois/include/public_request_form_fields.html" %}

            <button id="submit_button" type="submit">{% trans "Send" %}</button>
        </form>
    </div>
{% endblock webwhois_content %}
