{% extends "webwhois/form_public_request.html" %}
{% load i18n %}

{% block webwhois_header %}
    <h1>{% trans "Request for blocking an object" %}</h1>
{% endblock webwhois_header %}

{% block webwhois_content %}
    <div id="public_request_forms">
        {% include "webwhois/public_request_form_menu.html" with pubreq_selected_menu="block_object" %}
        <form action="{% url "webwhois:form_block_object" %}" method="post" class="webwhois-public-request">
            {% csrf_token %}
            <table>
                <caption>{% trans "Block" context "verb_inf" %}</caption>
                {{ form.as_table }}
                <tr>
                    <th></th><td><button id="submit_button" type="submit">{% trans "Send" %}</button></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock webwhois_content %}
