{% extends "webwhois/form_public_request.html" %}
{% load i18n %}

{% block webwhois_header %}
    <h1>{% trans "Request for password for transfer" %}</h1>
{% endblock webwhois_header %}

{% block webwhois_content %}
    <div id="public_request_forms">
        {% include "webwhois/public_request_form_menu.html" with pubreq_selected_menu="send_password" %}
        <form action="{% url "webwhois:form_send_password" %}" method="post" class="enum-util webwhois-send-password">
            {% csrf_token %}
            <table>
                <caption>{% trans "Send password for transfer" %}</caption>
                {{ form.as_table }}
                <tr>
                    <th></th><td><button id="submit_button" type="submit">{% trans "Send" %}</button></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock webwhois_content %}
