{% extends "webwhois/form_public_request.html" %}
{% load i18n %}

{% block title %}{% trans "Request to send a password (authinfo)" %} - {{ block.super }}{% endblock %}

{% block webwhois_header %}
    <h1>{% trans "Request to send a password (authinfo)" %}</h1>
    <p>
        {% trans "If you request to send the password to an email in the registry, the register will send an email with the transfer password to the holder and all administrative contacts in case of domains, to the contact itself, or to all technical contacts in case of nameserver sets or key sets." %}
    </p>
    <p>
        {% trans "If you request to send it to a custom email, it must be verified first that the person confirming it is authorized to confirm the request." %}
    </p>
    <p>
        {% trans "If enhanced security is enabled on the object, transfer is not possible, therefore the password cannot be sent either." %}
    </p>
{% endblock webwhois_header %}

{% block webwhois_content %}
    <div id="form_wrapper">
        <h2>{% trans "Request form to send a password" %}</h2>
        <div id="public_request_forms">
            <form id="send_password_form" action="{% url "webwhois:form_send_password" %}" method="post" class="webwhois-public-request">
                {% csrf_token %}

                {% include "webwhois/include/public_request_form_fields.html" %}

                <button id="submit_button" type="submit">{% trans "Send" %}</button>
            </form>
        </div>
    </div>
{% endblock webwhois_content %}
