{% extends "webwhois/block_main.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Multiple entries found" %} {{ handle }}{% endblock %}

{% block webwhois_content %}
    <h1>{% trans "Multiple entries found" %}</h1>
    <p>{% trans "There are multiple records having the given handle. Continue with selection of a required type." %}</p>
    <ul>
        {% for object_type, item in registry_objects.items %}
            <li>{{ item.label }}: <a href="{% spaceless %}
                {% if object_type == "contact" %}
                    {% url "webwhois:detail_contact" handle=handle %}
                {% elif object_type == "nsset" %}
                    {% url "webwhois:detail_nsset" handle=handle %}
                {% elif object_type == "keyset" %}
                    {% url "webwhois:detail_keyset" handle=handle %}
                {% elif object_type == "domain" %}
                    {% url "webwhois:detail_domain" handle=handle %}
                {% endif %}
            {% endspaceless %}">{{ handle }}</a></li>
        {% endfor %}
    </ul>
{% endblock webwhois_content %}
