{% load i18n webwhois_filters %}
<table class="result nsset">
    <tbody>
        <tr>
            <th>{% trans "Name server set" %}</th>
            <td class="handle">{{ nsset.handle }}</td>
        </tr>
        {% for ns in nsset.nservers %}
            <tr>
                <th>{% trans "Name server" %}</th>
                <td class="name-server">
                    <span class="dns_name">{{ ns.fqdn|idn_decode }}</span>
                    {% for ip in ns.ip_addresses %}
                        <span>{{ ip.address }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>{% trans "Technical contact" %}</th>
            <td class="technical-contact">
                {% for admin in nsset_admins %}
                    <div>
                        <a href="{% url "webwhois:detail_contact" handle=admin.handle %}">{{ admin.handle }}</a>
                        {% if admin.organization.value %}
                            {% if admin.organization.disclose %}
                                <span>{{ admin.organization.value|default_if_none:'' }}</span>
                            {% endif %}
                        {% else %}
                            {% if admin.name.disclose %}
                                <span>{{ admin.name.value|default_if_none:'' }}</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Sponsoring registrar" %}</th>
            <td class="sponsoring-registrar">{% with registrar=nsset_registrar %}
                    <a href="{% url "webwhois:detail_registrar" handle=registrar.handle %}">{{ registrar.handle }}</a>
                    <span class="name">{{ registrar.name }}</span>
                    <span>{% spaceless %}
                        {% blocktrans with date=nsset.last_transfer|default:nsset.created trimmed %}
                            since {{ date }}
                        {% endblocktrans %}
                    {% endspaceless %}</span>
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Status" %}</th>
            <td class="status" data-codes="{{ nsset.statuses|join:"," }}">{% for description in nsset_status_descriptions %}
                 <div>{{ description }}</div>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
