{% extends "webwhois/block_main.html" %}
{% load i18n %}

{% block title %}{{ server_exception.title }} - {{ block.super }}{% endblock %}

{% block webwhois_content %}

    <h1>{{ server_exception.title }}</h1>
    <p>{{ server_exception.message }}</p>

    {% if server_exception.handle_is_in_zone %}
        <h1>{% trans "Register this domain name?" %}</h1>
        <p>{% trans "If you already know how to do it, choose a registrar from the registrar list:" %}
            <a href="{% url "webwhois:registrars" %}" class="button">{% trans "Registrar list" %}</a>
        </p>
    {% endif %}

    {% if server_exception.too_many_parts_in_domain_name %}
        <p>{% url "webwhois:form_whois" as whois_form_link %}
            {% blocktrans trimmed %}
                Too many parts in the domain name <strong>{{ handle }}</strong>.
                Enter only the name and the zone: <a href="{{ whois_form_link }}?handle={{ example_domain_name }}">{{ example_domain_name }}</a>
            {% endblocktrans %}
        </p>
    {% endif %}

    {% if server_exception.unmanaged_zone %}
        {% if managed_zones or managed_zone_list %}
            <ul class="managed-zones">
                {% for zone in managed_zones|default:managed_zone_list %}<li>{{ zone }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    {% if server_exception.object_not_found %}
        {% block search_hint %}
            <p>
                {% trans "If you have tried to look up a domain, it is possible that it belongs to a zone that is not managed by our registry." %}
            </p>
            {% if managed_zones or managed_zone_list %}
                {% trans "We manage only these zones:" %}
                <ul class="managed-zones">
                    {% for zone in managed_zones|default:managed_zone_list %}
                        <li>{{ zone }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock webwhois_content %}
