{% extends "webwhois/contact.html" %}
{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "webwhois_standalone/css/whois.css" %}" />
{% endblock %}

{% block webwhois_contact_handle %}
    {% with contact=registry_objects.contact.detail valid_mojeid_handle_format=registry_objects.contact.valid_mojeid_handle_format %}
        {% if registry_objects.contact.show_button_mojeid %}
        <div id="mojeid-buttons">
            <span>{% trans "Create mojeID" context "button" %}</span>
            <ul>
                <li>
                    <form method="post" action="{{ mojeid_transfer_endpoint }}">
                        <input type="hidden" name="username" value="{{ contact.handle|lower }}" />
                        <input type="submit" value="{% trans "Create mojeID from the domain registry" %}" title="{% trans "Transfer contact under mojeID registrar." %}" />
                    </form>
                </li>
                {% if mojeid_registry_endpoint %}
                    <li>
                        <a href="{{ mojeid_registry_endpoint }}?username={{ contact.handle|lower }}" title="{% trans "Form with pre filled contacts values. It is possible to change them before submit." %}">{% trans "Create mojeID and change the personal data" %}</a>
                    </li>
                {% endif %}
                {% if mojeid_link_why %}
                    <li><a href="{{ mojeid_link_why }}" title="{% trans "What are the benefits of mojeID?" %}">{% trans "Why mojeID" %}</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
{% endblock webwhois_contact_handle %}
