{% extends "webwhois/form_whois.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "form" %}{% endblock %}

{% block webwhois_header %}
    <h1>{% trans "Search in the Registry (Whois)" %}</h1>
    <p class="highlight-handles">
        {% blocktrans %}
            Whois searches in domain names, contacts and name server sets.
            Enter a domain name without <span>www.</span> prefix and append the zone, eg. <span>.cz</span> (ie., enter <span>nic.cz</span>).
            As regards handles of a contact or a name server set, enter them as a plain text.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "In this form you can search for domains in the following zones only:" %}
    </p>
    <ul class="managed-zones">
        {% for zone in managed_zone_list %}
            <li>{{ zone }}</li>
        {% endfor %}
    </ul>
    <p>
        {% trans "To search for a domain in another zone use the search engine:" %}
        <span class="whois-search-engines">
            {% for link in WHOIS_SEARCH_ENGINES %}{% if not forloop.first %}, {% endif %}<a href="{{ link.href }}">{{ link.label }}</a>{% endfor %}.
        </span>
    </p>
    <p>
        {% blocktrans with link="https://www.nic.cz/page/306/intended-use-of-supplied-data-and-information/" %}
            Terms of Service are given in the document: <a href="{{ link }}">Intended use of supplied data and information</a>.
        {% endblocktrans %}
    </p>
{% endblock webwhois_header %}

{% block webwhois_footer %}{% endblock webwhois_footer %}
