{% extends base_template %}
{% load i18n %}

{% block content %}
    <div id="whois">
        {% block webwhois_main %}

            {% block webwhois_header %}
                <h1>{% trans "Search in the Registry (Whois)" %}</h1>
                <p>
                    {% blocktrans with handle=handle %}
                    Search results for handle <strong>{{ handle }}</strong>:
                    {% endblocktrans %}
                </p>
            {% endblock webwhois_header %}

            {% block webwhois_content %}{% endblock webwhois_content %}

            {% block webwhois_footer %}
                <p>
                    <a href="{% url webwhois.form_whois %}">{% trans "New search in the registry" %}</a>.
                </p>
            {% endblock webwhois_footer %}

        {% endblock webwhois_main %}
    </div>
{% endblock content %}
