{% extends "webwhois/public_request_notarized_letter.html" %}
{% load i18n %}

{% block print_this_letter %}
    <p>
        {% blocktrans trimmed %}
            Please print this <a href="{{ notarized_letter_pdf_url }}">{{ pdf_name }}</a> (PDF), sign it
            (an officially authenticated signature is required) and send the signed original to the following
            address:
        {% endblocktrans %}
    </p>
    <div class="address">
        <div>Zákaznická podpora</div>
        <div>CZ.NIC, z. s. p. o. Milešovská 1136/5</div>
        <div>130 00 Praha 3</div>
    </div>
{% endblock %}
