{% load i18n %}

<h1>
    {% blocktrans trimmed %}
        Request for password for transfer and enhanced object security in CZ.NIC database
    {% endblocktrans %}
</h1>

{% url "webwhois:form_send_password" as form_send_password_url %}

<h2>{% trans "Form to send the password request" %}</h2>
<p>
    {% blocktrans trimmed %}
        This form sends <a href="{{ form_send_password_url }}">the request for a password required to change
        the sponsoring registrar</a> of an object in the registry (domains, contacts or name server set).
        Use the form in case you are not able to get this password directly directly from the current sponsoring
        registrar.
    {% endblocktrans %}
</p>

<h2>{% trans "Request for enhanced object security in CZ.NIC database." %}</h2>
<p>
    {% blocktrans trimmed %}
        With this form, you can request <a href="{{ form_block_object_url }}">to block the change of the sponsoring
        registrar</a> for a domain, contact, or a name server set, or you can
        <a href="{{ form_block_object_url_lock_type_all }}">block the change</a> of a domain, contact, or a name server set.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed %}
        Once the change of the sponsoring registrar is blocked, you cannot transfer the particular object to another
        registrar nor request the sending of a password needed for email changes in the central registry.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans trimmed %}
        Once data changes are blocked, you cannot make any change to the data related to the particular object in
        the central registry. If you wish to cancel the blocking options above, please continue to the next paragraph.
    {% endblocktrans %}
</p>

<h2>{% trans "Request to cancel the enhanced object security in CZ.NIC database." %}</h2>
<p>
    {% blocktrans trimmed %}
        With this form, you can <a href="{{ form_unblock_object_url }}">cancel the blocking of the change of
        the sponsoring registrar</a> or <a href="{{ form_unblock_object_url_lock_type_all }}">cancel the blocking of any change
        </a> of a domain, contact, or a name server set.
    {% endblocktrans %}
</p>
