{% extends "webwhois/registrar_list.html" %}
{% load i18n static %}

{% block webwhois_header %}
    {{ block.super }}
    <p>
        <div>
            <img style="vertical-align: middle" src="{% static "webwhois/img/technology/dnssec.png" %}">
            {% blocktrans with link=REGISTRAR_SUPPORTS_DNSSEC trimmed %}
                Registrar supports secured domains <a href="{{ link }}">DNSSEC</a>
            {% endblocktrans %}
        </div>
        <div>
            <img style="vertical-align: middle" src="{% static "webwhois/img/technology/mojeid.png" %}">
            {% blocktrans with link=REGISTRAR_SUPPORTS_MOJEID trimmed %}
                Registrar supports <a href="{{ link }}">mojeID</a>
            {% endblocktrans %}
        </div>
        <div>
            <img style="vertical-align: middle" src="{% static "webwhois/img/technology/ipv6.png" %}">
            {% blocktrans with link=REGISTRAR_SUPPORTS_IPV6 trimmed %}
                Registrar supports <a href="{{ link }}">IPv6</a>
            {% endblocktrans %}
        </div>
        {% if is_retail %}
            <div>
                <img style="vertical-align: middle" src="{% static "webwhois/img/smooth-star.png" %}">
                {% blocktrans with link=REGISTRAR_CERTIFIED_FOR_RETAIL_URL trimmed %}
                    Registrar <a href="{{ link }}">Certified</a> for Retail
                {% endblocktrans %}
            </div>
        {% endif %}
    </p>
{% endblock webwhois_header %}

{% block webwhois_registrar_list_header %}
    {{ block.super }}
    <th>{% blocktrans with link="http://www.dobradomena.cz/" trimmed %}
            How to register a <a href="{{ link }}" title="How to register a Dobrá doména">Dobrá doména</a>.
        {% endblocktrans %}
    </th>
{% endblock webwhois_registrar_list_header %}

{% block webwhois_registrar_list_row %}
    {{ block.super }}
    <td>
        {% if row.dobradomena %}
            <a href="{{ row.dobradomena }}"><img src="{% static "webwhois/img/mimetypes/ico_pdf.gif" %}" alt="PDF"></a>
        {% endif %}
    </td>
{% endblock webwhois_registrar_list_row %}
