# Ignore everything
*
# Upload these
!pyproject.toml
!setup.*
!*.rst
!LICENSE
!assets
!contrib
!docs
!examples
!webwhois
!MANIFEST.in
!docker/uwsgi
!*.json
!*.js
# But ignore these
**/__pycache__
docker/uwsgi/Dockerfile
