*.pyc
*.mo
/webwhois/locale/*.pot
/webwhois/locale/C
/webwhois/static/webwhois/css
/webwhois/static/webwhois/js
*~
/dist/
/build/
/fred-webwhois*/
/*.egg-info
/.eggs/
/install.log
/.tox
/.coverage*
/.mypy_cache
/node_modules
