variables:
    IDL_DIR: "idl"

########################################################################################################################
# Basic declarations
.requires-python: &requires-python
    tags:
        - python

.python2-xenial: &python2-xenial
    image: $CI_REGISTRY/ginger/base/ubuntu_xenial_python2:latest

.install-dependencies: &install-dependencies
    before_script:
        - pip list
        # Install package dependencies
        - apt-get update && apt-get install -y omniidl-python
        # Get pr-version and update dependency links
        - git clone git@gitlab.office.nic.cz:pr-utils/pr-version.git --depth 1
        - pervert-requirements.py -r dependency_links.txt
        - cat dependency_links.txt
        # Parse IDL requirements
        - if [ -e pr-version/devel/$CI_BUILD_REF_NAME.conf ]; then IDL_BRANCH=$(python -c "import json;obj=json.loads(open('pr-version/devel/${CI_BUILD_REF_NAME}.conf').read());print obj.get('idl',{}).get('revision', 'master')"); fi
        - git clone git@gitlab.office.nic.cz:fred/idl.git
        - (cd idl && git checkout $IDL_BRANCH && omniidl -bpython -Wbmodules=fred_idl -Wbstubs=fred_idl._stubs idl/*.idl)
        - pip install tox
        - pip install git+https://github.com/balabit/tox-debian-plugin.git

.test: &test
    <<: *requires-python
    <<: *python2-xenial
    <<: *install-dependencies
    script:
        - tox

########################################################################################################################
# Individual jobs
depcheck:
    <<: *requires-python
    <<: *python2-xenial
    only:
        - schedules
    before_script:
        # Install package with testing dependencies to verify versions
        - pip install --process-dependency-links .[testing]
    script:
        - check-constraints.py constraints.txt
    allow_failure: true

test:
    <<: *test

test-thawed:
    <<: *test
    only:
        - schedules
    script:
        - tox -e py27-thaw
