html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#page-container:after {
  content: "";
  display: block;
}

#page-footer, #page-container:after {
  height: 60px;
}

#page-footer {
    background-color: #F6F6F6;
    border-top: 1px solid #B5B5B5;
    padding: 1em;
}

#header {
    background-color: #EBEBEB;
    padding: 1em;
}

#content {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

#page-container ul.messagelist li {
    margin: 0;
}

#branding a {
    font-size: 160%;
    font-weight: bold;
    text-decoration: none;
    color: #003893;
}

/*
    Toggle language
*/
#toggle-lang {
    margin-top: -1.2em;
    margin-right: .2em;
    float: right;
}
#toggle-lang li {
    list-style-type: none;
    float: left;
    padding-right: .4em;
}
#toggle-lang li:not(:first-of-type) {
    border-left: solid #003893 1px;
}

#toggle-lang button {
    background-color: transparent;
    color: #003893;
    border: none;
    text-decoration: underline;
}
#toggle-lang button:disabled {
    font-weight: bold;
    text-decoration: none;
}

#toggle-lang button:not(:disabled) {
    cursor: pointer;
}

#toggle-lang button:not(:disabled):hover {
    background-color: orange;
}

/*
    Main table datalist
*/
table.doc-list {
    border: 4px solid #9EBBCA;
}
table.doc-list thead tr th {
    background: #9EBBCA;
}
table.doc-list tr th, table.doc-list tr td {
    padding: 1em 2em;
}
table.doc-list tr:hover td {
    background-color: #C8E3E9;
}

table.doc-list tr.hidden td {
    color: #6F6F6F;
    background-color: #eee;
}
table.doc-list tr.hidden:hover td {
    background-color: #9DB0B7;
}
table.doc-list tr.hidden td div {
    color: #888;
}
table.doc-list tr.hidden:hover td div {
    color: black;
}

table.doc-list div.description {
    width: 40em;
    color: gray;
    text-align: justify;
}

table.doc-list div.location span {
    font-style: italic;
}

@media all and (max-width: 480px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}
    tr {
        border: 1px solid #ccc;
    }
    table.doc-list div.description {
        width: auto;
    }
}

/*
    Main form
*/

form.base-form p label {
    display: block;
    width: 12em;
    float: left;
    margin-right: 1em;
    text-align: right;
}

form.base-form p input[type=text], form.base-form p input[type=email], form.base-form p input[type=password] {
    width: 24em;
}

form.base-form p span {
    display: block;
    margin-left: 13em;
    font-style: italic;
}

form.base-form input[type=submit] {
    padding: 1em 4em;
}

form.base-form .required label, form.base-form label.required {
    font-weight: bold;
    color: #333;
}
form.base-form .required label:after, form.base-form label.required:after {
    content: "*";
	color: red;
}
form.base-form span.star {
  color: red;
}

.highlight-handles span {
    font-style: italic;
}

@media all and (max-width: 480px) {
    form.base-form p label {
        float: none;
        margin-right: 0;
        text-align: left;
    }
    form.base-form p input[type=text] {
        width: 20em;
    }
    form.base-form p span {
        margin-left: auto;
    }
}

.alert {
    font-weight: bold;
    color: red;
}

/*
    Top menu
*/

ul.top-menu {
    margin: 0;
    padding: 0;
    background-color: #003893;
    width: 100%;
    overflow: hidden;
}

ul.top-menu li {
    list-style-type: none;
    float: left;
    border-top: 6px solid transparent;
    padding-bottom:.4em;
}

ul.top-menu li a {
    display: block;
    padding: .3em 1em;
    color: white;
    text-decoration: none;
}

ul.top-menu li:hover {
    border-top-color: #CFF2FF;
    background-color: #3DB7E4;
}

ul.top-menu li.selected {
    border-top: 6px solid #FFDF00;
    background-color: #3DB7E4;
    font-weight: bold;
}

ul.simple-version {
  background-color: #E2E2E2;
}

ul.simple-version li a {
  color: #9A9A9A;
}

ul.simple-version li:hover {
    border-top-color: #9A9A9A;
    background-color: #545454;
}


@media all and (max-width: 480px) {
    ul.top-menu {  height: auto; }
    ul.top-menu > li {
        float: none; width: 100%;
        border-top: 1px solid white;
    }
    ul.top-menu a { line-height: 40px; }
    ul.top-menu ul { position: relative; }
}

#page-content {
    padding: 1em;
}

/* MESSAGES & ERRORS */

.errorlist {
    padding-left: 0;
}

.errorlist li {
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background-color: red;
}

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning, ul.messagelist li.info {
    background-color: #ffc;
    background-image: url(/static/admin/img/icon_alert.gif);
}

ul.messagelist li.error {
    background-color: #FFA3A3;
    background-image: url(/static/admin/img/icon_error.gif);
}

ul.messagelist li.success {
    color: white;
    background-color: green;
}

/*
  Result
*/
table.result {
    border-collapse: collapse;
    margin-bottom: 1em;
}
.result th, .result td {
    padding: .4em 1em;
}

.result th {
    text-align: left;
    vertical-align: sub;
    background-color: #ebebeb;
}

.result tr:nth-child(odd) td {
    background-color: #F8F8F8;
}

.not-disclosed {
    font-style: italic;
    color: #555555;
}
