{% load i18n staticfiles %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Web Whois{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "webwhois_standalone/css/base.css" %}" />
	{% block extrastyle %}{% endblock %}
</head>
<body>
<div id="page-container">
	<!-- Header -->
	<div id="header">
		<div id="branding">
			<a href="{% url 'home_page' %}" title="{% trans "Go to home page." %}">Web Whois</a>
		</div>
        {% block usertools %}
			{% get_current_language as CURRENT_LANGUAGE_CODE %}
			<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			<ul id="toggle-lang">
			{% get_available_languages as LANGUAGES %}
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
				<li>
				{% if language.code == CURRENT_LANGUAGE_CODE %}
					<button disabled="disabled" title="{{ language.name_local }}">{{ language.name_local }}</button>
				{% else %}
					<button type="submit" name="language" value="{{ language.code }}" title="{{ language.name_local }}">{{ language.name_local }}</button>
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			</form>
        {% endblock %}
	</div>
	<!-- END Header -->
	{% block main_menu %}{% endblock main_menu %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

	<div id="page-content">{% block content %}{% endblock content %}</div>
</div>
<div id="page-footer">
	<div class="copyright">© 2015 CZ.NIC, z. s. p. o. All rights reserved.</div>
</div>
</body>
</html>
