{% extends "base.html" %}
{% load i18n %}

{% block main_menu %}
<ul class="top-menu">
    <li{% if page_url_name == "standalone_webwhois:home_page" %} class="selected"{% endif %}><a href="{% url "home_page" %}">{% trans "Home page" %}</a></li>
    <li{% if page_url_name in menu_item_whois_form %} class="selected"{% endif %}><a href="{% url "standalone_webwhois:form_whois" %}">{% trans "Web whois" %}</a></li>
    <li{% if page_url_name == "standalone_webwhois:registrar_list_retail" %} class="selected"{% endif %}><a href="{% url "standalone_webwhois:registrar_list_retail" %}">{% trans "List of registrars (retail)" %}</a></li>
    <li{% if page_url_name == "standalone_webwhois:registrar_list_wholesale" %} class="selected"{% endif %}><a href="{% url "standalone_webwhois:registrar_list_wholesale" %}">{% trans "List of registrars (wholesale)" %}</a></li>
    <li{% if page_url_name == "standalone_webwhois:form_public_request" %} class="selected"{% endif %}><a href="{% url "standalone_webwhois:form_public_request" %}">{% trans "Public requests" %}</a></li>
</ul>
<ul class="top-menu simple-version">
    <li><a>{% trans "Basic version" %}:</a></li>
    <li><a href="{% url "basic_webwhois:form_whois" %}">{% trans "Web whois" %}</a></li>
    <li><a href="{% url "basic_webwhois:registrar_list_retail" %}">{% trans "List of registrars (retail)" %}</a></li>
    <li><a href="{% url "basic_webwhois:registrar_list_wholesale" %}">{% trans "List of registrars (wholesale)" %}</a></li>
</ul>
{% endblock main_menu %}
