{% extends base_template|default:"webwhois_base.html" %}

{% load i18n disclose static %}

{% block content %}
    <div id="whois">
        {% if data %}
            <h1>{% trans "Whois" %}</h1>
            <p>{% trans "Search results" %} <strong>{{ data.handle }}</strong>.</p>
            <h2>{% trans "Browsing contact" %}</h2>
            <table class="result">
                <tbody>
                    <tr>
                        <th>{% trans "Handle" %}</th>
                        <td>
                            {{ data.handle }}
                            {% if not data.moje_id %}{% include "mojeid_form.html" %}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Organisation" %}</th>
                        <td{{ data.organization|disclose_class }}>{{ data.organization|if_disclose|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td{{ data.name|disclose_class }}>{{ data.name|if_disclose|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "VAT number" %}</th>
                        <td{{ data.vat_number|disclose_class }}>{{ data.vat_number|if_disclose|default_if_none:'' }}</td>
                    </tr>

                    <tr>
                        <th>{% trans "Identification type" %}</th>
                        <td{{ data.identification|disclose_class }}>{{ data.identification|if_disclose:data.identification.value.identification_type|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Identification data" %}</th>
                        <td{{ data.identification|disclose_class }}>{{ data.identification|if_disclose:data.identification.value.identification_data|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "E-mail" %}</th>
                        <td{{ data.email|disclose_class }}>{{ data.email|if_disclose }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Notify e-mail" %}</th>
                        <td{{ data.notify_email|disclose_class }}>{{ data.notify_email|if_disclose }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Phone" %}</th>
                        <td{{ data.phone|disclose_class }}>{{ data.phone|if_disclose|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Fax" %}</th>
                        <td{{ data.fax|disclose_class }}>{{ data.fax|if_disclose|default_if_none:'' }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Registered since" %}</th>
                        <td>{{ data.created }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Creating registrar" %}</th>
                        <td>
                            <a href="{% url 'registrar' data.creating_registrar.handle %}">{{ data.creating_registrar.handle }}</a> {{ data.creating_registrar.organization }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Last update" %}</th>
                        <td>{{ data.changed }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last transfer" %}</th>
                        <td>{{ data.last_transfer }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Address" %}</th>
                        <td{{ data.address|disclose_class }}>
                            {{ data.address|if_disclose:data.address_string|default_if_none:'' }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Sponsoring registrar" %}</th>
                        <td>
                            <a href="{% url 'registrar' data.sponsoring_registrar.handle %}">{{ data.sponsoring_registrar.handle }}</a> {{ data.sponsoring_registrar.organization }}
                        </td>
                    </tr>
                    {% if data.statuses_verif %}
                        <tr>
                            <th>{% trans "Contact verification status" %}</th>
                            <td>
                                {% for st in data.statuses_verif %}
                                    <div>
                                        {% if st.0 == 'contactInManualVerification' %}
                                            <img src="{% static "webwhois/img/icon-orange-cross.gif" %}" alt="{{ st.1 }}" />
                                        {% elif st.0 == 'contactFailedManualVerification' %}
                                            <img src="{% static "webwhois/img/icon-red-cross.gif" %}" alt="{{ st.1 }}" />
                                        {% else %}
                                            <img src="{% static "webwhois/img/icon-yes.gif" %}" alt="{{ st.1 }}" />
                                        {% endif %}
                                        &nbsp;<span>{{ st.1 }}</span>
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <td>
                            {{ data.statuses_desc|join:"<br>" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% elif error %}
            {% if error == 'not_found' %}
                {% include "not_found.html" %}
            {% elif error == 'invalid_handle' %}
                {% include "not_found.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}