{% extends base_template|default:"webwhois_base.html" %}

{% load i18n disclose static %}

{% block content %}
    <div id="whois">
        {% if data %}
            <h1>{% trans "Whois" %}</h1>
            <p>{% trans "Search results" %} <strong>{{ data.handle }}</strong>.</p>
            <h2>{% trans "Browsing domain name" %}</h2>
            <table class="result">
                <tbody>
                    <tr>
                        <th>{% trans "Domain name" %}</th>
                        <td>{{ data.handle }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Registered since" %}</th>
                        <td>{{ data.registered|date:"j.m.Y" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last update date" %}</th>
                        <td>{{ data.changed|date:"j.m.Y H:i:s" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Expiration" %}</th>
                        <td>{{ data.expire|date:"j.m.Y" }}</td>
                    </tr>
                    {% if data.validated_to %}
                        <tr>
                            <th>{% trans "Validation expiration date" %}</th>
                            <td>{{ data.validated_to|date:"j.m.Y" }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans "Holder" %}</th>
                        <td>
                            <a href="{% url 'contact' data.registrant.handle %}">{{ data.registrant.handle }}</a>
                            <span>{{ data.registrant.name|if_disclose|default_if_none:'' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Administrative contact" %}</th>
                        <td>
                            {% for admin in data.admins %}
                                <div>
                                    <a href="{% url 'contact' admin.handle %}">{{ admin.handle }}</a>
                                    <span>{{ admin.name|if_disclose|default_if_none:'' }}</span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Sponsoring registrar" %}</th>
                        <td>
                            <a href="{% url 'registrar' data.registrar.handle %}">{{ data.registrar.handle }}</a>
                            <span>{{ data.registrar.organization }}</span> {% trans "since" %}
                            <span>{% if data.last_transfer %}{{ data.last_transfer|date:"j.m.Y H:i:s" }}{% else %}{{ data.registered|date:"j.m.Y H:i:s" }}{% endif %}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Secured by" %} <a href="http://www.nic.cz/dnssec/">DNSSEC</a></th>
                        <td>
                            {% if data.keyset %}
                                <img src='{% static "webwhois/img/icon-yes.gif" %}' alt='{% trans "Yes" %}'>
                            {% else %}
                                <img src='{% static "webwhois/img/icon-no.gif" %}' alt='{% trans "No" %}'>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <td>
                            {{ data.statuses_desc|join:"<br>" }}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if data.nsset %}
                <div id="nsset_record">

                    {% include "nsset.html" with data=data.nsset base_template="webwhois_empty.html" included=True %}

                </div>
            {% endif %}

            {% if data.keyset %}
                <div id="keyset_record">

                    {% include "keyset.html" with data=data.keyset base_template="webwhois_empty.html" included=True %}

                </div>
            {% endif %}
        {% elif error %}
            {% if error == 'not_found' %}
                {% include "not_found.html" %}
            {% elif error == 'invalid_label' %}
                {% include "not_found.html" %}
            {% elif error == 'too_many_labels' %}
                {% include "not_found.html" %}
            {% elif error == 'unmanaged_zone' %}
                {% include "not_found.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}