{% extends base_template|default:"webwhois_base.html" %}

{% load i18n disclose %}

{% block content %}
    {% if not included %}
        <div id="whois">
    {% endif %}
        {% if data %}
            <table class="result">
                <tbody>
                    <tr>
                        <th>{% trans "Key set" %}</th>
                        <td>{{ data.handle }}</td>
                    </tr>
                    {% for dns in data.dns_keys %}
                        <tr>
                            <th>{% trans "DNS Key" %}</th>
                            <td>
                                Flags: <span>{{ dns.flags }}</span><br />
                                Protocol: <span>{{ dns.protocol }}</span><br />
                                Algorithm: <span>{{ dns.alg }}</span> [<span>alg</span>]<br />
                                Key: <pre class="dnskey">{{ dns.public_key }}</pre>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>{% trans "Technical contact" %}</th>
                        <td>
                            {% for admin in data.admins %}
                                <div>
                                    <a href="{% url 'contact' admin.handle %}">{{ admin.handle }}</a>
                                    <span>{{ admin.name|if_disclose|default_if_none:'' }}</span>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Sponsoring registrar" %}</th>
                        <td>
                            <a href="{% url 'registrar' data.registrar.handle %}">{{ data.registrar.handle }}</a>
                            <span>{{ data.registrar.organization }}</span> {% trans "since" %}
                            <span>{% if data.last_transfer %}{{ data.last_transfer|date:"j.m.Y H:i:s" }}{% else %}{{ data.created|date:"j.m.Y H:i:s" }}{% endif %}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <td>
                            {{ data.statuses_desc|join:"<br>" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% elif error %}
            {% if error == 'not_found' %}
                {% include "not_found.html" %}
            {% elif error == 'invalid_handle' %}
                {% include "not_found.html" %}
            {% endif %}
        {% endif %}
    {% if not included %}
        </div>>
    {% endif %}
{% endblock %}