{% load i18n %}

<div id="mojeid-buttons">
    <span>{% trans "Create mojeID" %}</span>
    <ul>
        <li>
            <form method="post" action="{{ mojeid_transfer_endpoint }}">
                <input type="hidden" name="username" value="{{ data.handle|lower }}" />
                <input type="submit" value="{% trans "Create mojeID from the domain registry" %}" title="{% trans "Transfer contact under mojeID registrar." %}" />
            </form>
        </li>
        <li tal:condition="python:result.get('mojeid_registry_endpoint') and result.get('linked')">
            <form method="post" action="{{ mojeid_registry_endpoint }}">
                <input type="hidden" name="username" value="{{ data.handle|lower }}" />
                {% if data.name.disclose %}
                    <input type="hidden" name="full_name" value="{{ data.name.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.organization.disclose %}
                    <input type="hidden" name="organization" value="{{ data.organization.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.vat_number.disclose %}
                    <input type="hidden" name="vat_reg_num" value="{{ data.vat_number.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.identification.disclose and data.identification.value.identification_data %}
                    {% if data.identification.value.identification_type == "ICO" %}
                        <input type="hidden" name="vat_id_num" value="{{ data.identification.value.identification_data }}" />
                    {% elif data.identification.value.identification_type == "BIRTHDAY" %}
                        <input type="hidden" name="birth_date" value="{{ data.identification.value.identification_data }}" />
                    {% endif %}
                {% endif %}
                {% if data.email.disclose %}
                    <input type="hidden" name="email__default__email" value="{{ data.email.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.notify_email.disclose %}
                    <input type="hidden" name="email__notify__email" value="{{ data.notify_email.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.phone.disclose %}
                    <input type="hidden" name="phone__default__number" value="{{ data.phone.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.fax.disclose %}
                    <input type="hidden" name="phone__fax__number" value="{{ data.fax.value|default_if_none:'' }}" />
                {% endif %}
                {% if data.address.disclose %}
                    <input type="hidden" name="address__default__street1" value="{{ data.address.value.street1|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__street2" value="{{ data.address.value.street2|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__street3" value="{{ data.address.value.street3|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__postal_code" value="{{ data.address.value.postalcode|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__city" value="{{ data.address.value.city|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__state" value="{{ data.address.value.stateorprovince|default_if_none:'' }}" />
                    <input type="hidden" name="address__default__country" value="{{ data.address.value.country_code|default_if_none:'' }}" />
                {% endif %}
                <input type="submit" value="{% trans "Create mojeID and change the personal data" %}" title="{% trans "Form with pre filled contacts values. It is possible to change them before submit." %}" />
            </form>
        </li>
        <li><a href="https://www.mojeid.cz/vyhody/" title="{% trans "What are the benefits of mojeID?" %}">{% trans "Why mojeID" %}</a></li>
    </ul>
</div>