{% extends base_template|default:"webwhois_base.html" %}

{% load i18n disclose static %}

{% block content %}
    {% if retail %}
        <h1>{% trans "Registrars offering also retail services" %}</h1>
    {% else %}
        <h1>{% trans "Registrars offering only wholesale services" %}</h1>
    {% endif %}
    <div id="whois">
        <div style="padding-bottom: 1.5em;">
            <div>
                <img style="vertical-align: middle" src="{% static "webwhois/img/technology/dnssec.png" %}"> {% trans "Registrar supports secured domains" %} <a href="http://www.dnssec.cz/">DNSSEC</a>
            </div>
            <div>
                <img style="vertical-align: middle" src="{% static "webwhois/img/technology/mojeid.png" %}"> {% trans "Registrar supports" %} <a href="http://www.mojeid.cz/">mojeID</a>
            </div>
            <div>
                <img style="vertical-align: middle" src="{% static "webwhois/img/technology/ipv6.png" %}"> {% trans "Registrar supports IPv6" %}
            </div>
            {% if retail %}
                <div>
                    <img style="vertical-align: middle" src="{% static "webwhois/img/smooth-star.png" %}"> {% trans "Registrar <a href=\"https://www.nic.cz/page/928/\">Certified</a> for Retail" %}
                </div>
            {% endif %}
        </div>

        <table>
            <tbody>
                <tr class="">
                    <th>{% trans "Registrar" %}</th>
                    <th>{% trans "Website" %}</th>
                    <th>{% trans "Technologies" %}</th>
                    {% if retail %}<th>{% trans "Certification" %}</th>{% endif %}
                    {% if retail %}<th>{% trans "Evaluation protocol" %}</th>{% endif %}
                    <th>{% blocktrans %}How to register a <a href="http://www.dobradomena.cz/" title="How to register a Dobrá doména">Dobrá doména</a>{% endblocktrans %}</th>
                </tr>
                {% for registrar in data|dictsortreversed:"score" %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ registrar.organization }}</th>
                        <td><a href="{{ registrar.url }}">{{ registrar.url }}</a></td>
                        <td>
                            {% if registrar.handle in groups.dnssec %}
                                <img src="{% static "webwhois/img/technology/dnssec.png" %}">
                            {% endif %}
                            {% if registrar.handle in groups.mojeid %}
                                <img src="{% static "webwhois/img/technology/mojeid.png" %}">
                            {% endif %}
                            {% if registrar.handle in groups.ipv6 %}
                                <img src="{% static "webwhois/img/technology/ipv6.png" %}">
                            {% endif %}
                        </td>
                        {% if retail %}
                            <td>
                                {% for x in registrar.score|get_range %}
                                    <img src="{% static "webwhois/img/smooth-star.png" %}">
                                {% endfor %}
                            </td>
                        {% endif %}
                        {% if retail %}
                            <td>
                                {% if registrar.evaluation_file_id %}
                                    <a href="{% url 'download_eval_file' registrar.handle %}">
                                        <img src="{% static "webwhois/img/mimetypes/ico_pdf.gif" %}" alt="PDF">
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td>
                            {% if registrar.handle in dobradomena %}
                                <a href="{{ dobradomena|get_value:registrar.handle }}">
                                    <img src="{% static "webwhois/img/mimetypes/ico_pdf.gif" %}" alt="PDF">
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>{% trans "Follow the instructions <a href=\"/page/309/how-to-become-a-registrar-/\">here</a> to become .cz domains registrar." %}</p>
    </div>
{% endblock %}