{% extends base_template|default:"webwhois_base.html" %}

{% load i18n disclose %}

{% block content %}
    <div id="whois">
        {% if data %}
            <h1>{% trans "Whois" %}</h1>
            <p>{% trans "Search results" %} <strong>{{ data.handle }}</strong>.</p>
            <h2>{% trans "Browsing registrar" %}</h2>
            <table class="result">
                <tbody>
                    <tr>
                        <th>{% trans "Handle" %}</th>
                        <td>{{ data.handle }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ data.organization }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Phone" %}</th>
                        <td>{{ data.phone }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Fax" %}</th>
                        <td>{{ data.fax }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "URL" %}</th>
                        <td><a href="{{ data.url }}">{{ data.url }}</a></td>
                    </tr>
                    <tr>
                        <th>{% trans "Address" %}</th>
                        <td>
                            {{ data.address_string|default_if_none:'' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% elif error %}
            {% if error == 'not_found' %}
                {% include "not_found.html" %}
            {% elif error == 'invalid_handle' %}
                {% include "not_found.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}