.webwhois-public-request {
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-row-gap: 10px;
}

.label-wrapper {
    grid-column: 1;
    margin-right: 10px;
}

.field-wrapper {
    grid-column: 2 / 4;
}

.webwhois-public-request > button {
    grid-column: 1 / 4;
    justify-self: end;
}

#send_password_form .label-confirmation_method,
#personal_info_form .label-confirmation_method {
    grid-column: 2;
}

#send_password_form .label-confirmation_method + .field-wrapper,
#personal_info_form .label-confirmation_method + .field-wrapper  {
    grid-column: 3;
}

.field-wrapper > label:not(:last-of-type) {
    display: block;
}

.field-wrapper > label {
    margin: 0 20px 10px 0;
}

.help-text {
    display: none;
}

#id_lock_type {
    margin: 0;
    padding: 0;
}
#id_lock_type li {
    display: inline;
    list-style-type: none;
}
