/* Utils */
.tooltip::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: none;
    font-weight: bold;
}

.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:active::before {
    display: block;
}

.public-key-view, .public-key-copy, .question-mark {
    cursor: pointer;
}

/* Table of scans */
.scan-table td, .scan-table th {
    vertical-align: middle !important;
}

.scan-table th {
    font-weight: bold !important;
}

.scan-table pre {
    background-color: #ebebeb;
}

/* Name server */
.name-server-wrapper span {
    display: block;
}

/* Public key */
.public-key {
    max-width: 200px;
    overflow: hidden;
    margin: auto;
}

.public-key-actions {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: bold;
}

.public-key-view {
    border-bottom: 1px dashed #000;
    position: relative;
}

.public-key-view::before {
    max-width: 200px;
    word-wrap: break-word;
}

/* Status */
.status-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.question-mark {
    position: relative;
}

.question-mark::before {
    width: max-content;
    max-width: 300px;
}

.question-mark::after {
    content: '?';
    width: 20px;
    height: 20px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #ddd;
    border: 1px solid #ddd;
}


/* Responsive look */
@media only screen and (max-width: 900px) {
    .scan-table {
        border: 0;
    }

    .scan-table thead {
       display: none;
    }

    .scan-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    .scan-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    .scan-table td {
        display: flex;
        justify-content: space-between;
    }

    .scan-table td:not(:last-child) {
        border-bottom: 1px solid #ddd !important;
    }

    .scan-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    }

    .scan-table td:last-child {
        border-bottom: 0;
    }

    .public-key-copy {
        padding: 2px 5px;
    }

    .name-server-wrapper span {
        display: inline-block;
    }
}

@media only screen and (max-width: 420px) {
    .public-key-view::before {
        max-width: 125px;
    }
}
